.header {
  display: flex;
  height: 69px;
  background-color: black;
  opacity: 0.9;
  border-bottom: 1px solid seashell;
  align-items: center;
  white-space: nowrap;
  font-family: Helvetica;
  font-size: 22px
}

.header .logo {
  display: flex;
  margin-left: 10px;
  flex-grow: 1;
}

.header .navcontainer {
  display: flex;
  text-align: right;
  flex-grow: 0;
  margin-right: 10px;
}

.navcontainer .nav {
  display: inline-block;
  padding: 20px;
}

.nav a {
  text-decoration: underline;
  color: seashell;
}
