.header {
  display: flex;
  height: 69px;
  background-color: black;
  opacity: 0.9;
  border-bottom: 1px solid seashell;
  align-items: center;
  white-space: nowrap;
  font-family: Helvetica;
  font-size: 22px
}

.header .logo {
  display: flex;
  margin-left: 10px;
  flex-grow: 1;
}

.header .navcontainer {
  display: flex;
  text-align: right;
  flex-grow: 0;
  margin-right: 10px;
}

.navcontainer .nav {
  display: inline-block;
  padding: 20px;
}

.nav a {
  text-decoration: underline;
  color: seashell;
}

.maincontainerone {
  display: flex;
  justify-content: center;
  background-color: black;
}

.missionsection {
  display: flex;
  background-image: url("../img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: black;
}

.ourmission {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  width: 1200px;
}

.maincontainertwo {
  display: flex;
  justify-content: center;
  background-color: black;
}

.teasection {
  width: 1000px;
}

.rowone {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.rowtwo {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 150px;
}

 .picone h4 {
   font-family: Helvetica;
   color: seashell;
   text-align: center;
 }

 .pictwo h4 {
   font-family: Helvetica;
   color: seashell;
   text-align: center;
 }
